NODE_ENV=development
PORT=3003
DB_HOST=localhost
DB_PORT=5432
DB_USUARIO=postgres
DB_CONTRASENA=postgres
DB_NOMBRE=tickets_db
VEHICLE_SERVICE_URL=http://localhost:3000
USER_SERVICE_URL=http://localhost:3001
ZONE_SERVICE_URL=http://localhost:8080
